[package]
name = "minicbor-sys"
version = "0.0.6"
edition = "2021"

[lib]
crate-type = ["staticlib", "lib"]

[dependencies]
minicbor = { version = "0.18", git = "https://www.gitlab.com/twittner/minicbor", branch = "cbor_len", default-features = false }
