{% import "macros.tmpl" as macros %}
#ifndef ATX_EXTRA_H 
#define ATX_EXTRA_H 

#include "atx.h"

#ifdef __cplusplus
extern "C" {
#endif 

{% for key, node in cddl | nodes(value="struct") %}
    {{ macros::send_def(name=key) }}
{% endfor %}

#ifdef __cplusplus
} 
#endif 
#endif 
